<?xml version="1.0" encoding="UTF-8"?>
<server description="Equipment management on Java 25">

    <featureManager>
        <feature>pages-3.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" />

    <application id="equipment-management"
                 location="equipment-management.war"
                 type="war" />
</server>
